<a href="https://colab.research.google.com/github/YounesseELH/Machine-learning-Basics/blob/main/Linear%20Regression/Linear_Regression_with_two_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Multiple Linear Regression Dataset.csv')

In [5]:
df.head()

   Transportation  Stationary  Packaging  Revenue
0            1000        1200        150     1203
1            1200        1150        300     1603
2            1400        1000        450     2003
3            1000        1050        600     2403
4            1800        1000       1000     2803

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Transportation  24 non-null     int64
 1   Stationary      24 non-null     int64
 2   Packaging       24 non-null     int64
 3   Revenue         24 non-null     int64
dtypes: int64(4)
memory usage: 896.0 bytes

In [7]:
from sklearn.linear_model import LinearRegression

In [14]:
model = LinearRegression()
X = df[["Transportation","Stationary","Packaging"]]
Y = df['Revenue']
model.fit(X,Y)

LinearRegression()

In [9]:
df.head(2)

   Transportation  Stationary  Packaging  Revenue
0            1000        1200        150     1203
1            1200        1150        300     1603

In [15]:
model.predict([[1100,800,200]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([3106.68104241])

In [16]:
model.predict([[1000,1200,150]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([1573.9082958])

In [12]:
model.predict([[1000,1200,150]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([1573.9082958])

In [17]:
model.score(X,Y)

0.9090591387521105

In [18]:
model.coef_

array([ 0.3047125 , -3.60438683,  1.21093532])

In [19]:
model.intercept_

5412.819686364769